/* Logo.module.css */

.container {
    width: 138px;
    height: 46px;
    position: relative;
  }
  
  .background {
    width: 46px;
    height: 46px;
    left: 0;
    top: 0;
    position: absolute;
    background: #E7319D;
    border-radius: 9999px;
  }
  
  .textContainer {
    left: 54px;
    top: 11px;
    position: absolute;
    text-align: center;
    color: #E7319D;
    font-size: 28px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 29px;
    word-wrap: break-word;
  }
  